* {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Roboto", serif;
        color: #fff;
        font-weight: 700;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin:auto;
    min-height: 100vh;
    padding: 10rem;

}
.stars {
    background: #17182f url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   	animation: gradient 15s ease infinite;
}

.title {
    font-size: 10rem;
}

.intro {
    font-size: 2rem;
}

.solution {
    font-size: 7rem;
}